# Config file example with vectors
IPVec.vec1 "{ "without", "quotes" }"
IPVec.vec2 "{ "with spaces", "within members" }"
IPVec.vec3 "{ "with single quotes", "within 'this' member", "and comma, here" }"
IPVec.vec4 "{ "without", "quotes" }" # ingored comment
IPVec.vec5 "{ "with", "quotes in \\"this\\"." }" # we need this double \\ syntax to be the same as in code (\" needs to be in the resulting string being set)
