# Config file example
   # indented comment

IP2.zw.implicitFirstParam 333
    IP2.scmlIntParam 55555
IP2.scmlBoolParam 1  # comment after command

        IP2.scmlDoubleParam 4444.5 # line starts with tab

IP2.scmlStringParam        HelloFile # tabs and spaces between param and value

IP2.implicitParam 400

IP2.anotherTabImplicitParam1	42
IP2.anotherTabImplicParam2  	43
IP2.anotherTabImplicParam3	  44
IP2.anotherTabImplParam4	"config file created with tab"

IP3.char_param1 'A'
IP3.uchar_param 'D'

#IP3.time_param1 = "52 ms"
IP3.time_param1 = "52 SC_MS"
IP3.time_param2 = "5 s"
