# Config file example
IP1.scmlIntParam 1234
IP1.implicitParam examleImplValue

IP1.SUB_IP_2.scmlUIntParam 123456
IP1.SUB_IP_2.scmlStringParam This is a param with spaces

IP1.SUB_IP_2.scmlStringParam   "with quotes"
IP1.SUB_IP_2.scmlStringParam  "with quotes2" tail
IP1.SUB_IP_2.scmlStringParam lead "with qoutes"
IP1.SUB_IP_2.scmlStringParam "with "quotes" inside"
IP1.SUB_IP_2.scmlStringParam "with \"quotes\" inside"
