### make intermediates and products
*.[oaxd]
*.exe
*.ipch
*.sdf
*.suo
*.user
*.db

Makefile.*deps

.cproject
.project
.settings
testbench
Upgradelog.XML
Debug/
_UpgradeReport_Files/
### self-test intermediates + results (except for reference golden.log)
run/
run.log
diff.log
examples/**/*.log
*.stripped
!golden/*.log

### doxygen output
doc/API_ref
doc/Examples
doc/GS_implementation_ref

### editor autosave
\#*#
*.swp
*~

