# Configuration file for the demonstration platform
#
# This files causes a long simulation which fills the simulated
# time (10 SEC) with transactions.
# 

#################################################################
# configure the random traffic generator
#  scml_property cannot parse hex notation!
#################################################################

###### TG 1 ######

TG1.init_size 1048576 

TG1.write_size 1000
TG1.write_inc 10 #1024

TG1.read_size 100
TG1.read_inc 10

TG1.write_count 1
TG1.read_count  1
TG1.loops       500 ## 0 disables this TG


###### TG 2 ######

TG2.init_size 1048576 

TG2.write_size 1000
TG2.write_inc 10 #1024

TG2.read_size 100
TG2.read_inc 10

TG2.write_count 1
TG2.read_count  1
TG2.loops       20000 ## 0 disables this TG


###### TG 3 #######

TG3.init_size 1048576 

TG3.write_size 2048
TG3.write_inc 0 #1024

TG3.read_size 1200
TG3.read_inc 0

TG3.write_count 1
TG3.read_count  1
TG3.loops       10000 ## 0 disables this TG


#################################################################
# configure the caches (in bytes)
#################################################################

Cache1.LRUCache.param_cache_size      256 # 1024
Cache1.LRUCache.param_cache_line_size 64  # 128
Cache1.LRUCache.param_cache_lines     4   # 8
Cache1.LRUCache.param_write_back      true # true


Cache2.LRUCache.param_cache_size      1024
Cache2.LRUCache.param_cache_line_size 128
Cache2.LRUCache.param_cache_lines     8
Cache2.LRUCache.param_write_back      true # true


Cache3.LRUCache.param_cache_size      64 # 1024
Cache3.LRUCache.param_cache_line_size 8  # 128
Cache3.LRUCache.param_cache_lines     8  # 8
Cache3.LRUCache.param_write_back      true # true

## Analysis parameters for Caches:
##  Address ranges for address range hit rates

Cache1.LRUCache.hitrate_lower_addr 0x200
Cache1.LRUCache.hitrate_upper_addr 0xFFFFFF

Cache2.LRUCache.hitrate_lower_addr 0x200
Cache2.LRUCache.hitrate_upper_addr 0x10FFFFF

Cache3.LRUCache.hitrate_lower_addr 0x2000000
Cache3.LRUCache.hitrate_upper_addr 0x20000F0


#################################################################
# configure the memory, size max 0x200000 bytes!
#################################################################

Mem.base_addr 0x200              ## param_cache_line_size-bit-aligned for Cache accesses!
Mem.high_addr 0xFFFFFF


#################################################################
# configure the PCIeDevices
#################################################################

PCIeDevice1.base_addr 0x1000000  ## param_cache_line_size-bit-aligned for Cache accesses!
PCIeDevice1.mem_size  0xFFFFFF

PCIeDevice2.base_addr 0x2000000  ## param_cache_line_size-bit-aligned for Cache accesses!
PCIeDevice2.mem_size  0xFF
