# Configuration file for the demonstration platform

#################################################################
# configure the random traffic generator
#  scml_property cannot parse hex notation!
#################################################################
TG1.init_size 1048576 

TG1.write_size 50
TG1.read_size 50

TG1.write_inc 10 #1024
TG1.read_inc 10

TG1.write_count 1
TG1.read_count  1
TG1.loops       10

TG1.do_time_measure false # if to do and show time measurement (disabled for output diff reason)


#################################################################
# configure the cache
#################################################################

Cache1.LRUCache.param_cache_size      256 # 1024
Cache1.LRUCache.param_cache_line_size 64  # 128
Cache1.LRUCache.param_cache_lines     4   # 8
Cache1.LRUCache.param_write_back      true # true


#################################################################
# configure the memory
#################################################################

Mem.base_addr 0x200
Mem.high_addr 0x400

#################################################################
# configure the PCIeDevice
#################################################################

PCIeDevice2.base_addr 0x100
PCIeDevice2.mem_size  0xFF

