# Config file example with WRONG value syntax!!

IP_neg.int_param "String to set to integer"
IP_neg.str_param additional token "value"
IP_neg.str_param2 additional token value
IP_neg.uint_param additional token 123