## file report output for all debug messages

MessageStreamer_config.0.msgconfig_name         "report_file_fix0.txt"

MessageStreamer_config.0.msgconfig_starttime_en false

MessageStreamer_config.0.msgconfig_dbglvl     9
MessageStreamer_config.0.msgconfig_info_en    false
MessageStreamer_config.0.msgconfig_warn_en    false
MessageStreamer_config.0.msgconfig_error_en   false
MessageStreamer_config.0.msgconfig_fatal_en   false
MessageStreamer_config.0.msgconfig_printtime  true
MessageStreamer_config.0.msgconfig_printname  true
MessageStreamer_config.0.msgconfig_printfile  true
MessageStreamer_config.0.msgconfig_printlevel true

MessageStreamer_config.0.msgconfig_module_id  "{"ModuleA", "ModuleB"}"


## file report output for all system messages

MessageStreamer_config.1.msgconfig_name         "report_file_fix1.txt"

MessageStreamer_config.1.msgconfig_starttime_en false

MessageStreamer_config.1.msgconfig_dbglvl     0
MessageStreamer_config.1.msgconfig_info_en    true
MessageStreamer_config.1.msgconfig_warn_en    true
MessageStreamer_config.1.msgconfig_error_en   true
MessageStreamer_config.1.msgconfig_fatal_en   true
MessageStreamer_config.1.msgconfig_printtime  true
MessageStreamer_config.1.msgconfig_printname  true
MessageStreamer_config.1.msgconfig_printfile  false
MessageStreamer_config.1.msgconfig_printlevel false

