## Config file for the array test example

Owner.normal_uint_param 10

Owner.string_arr "{"Hello" "my world"}"
## not supported by config file API: Owner.float_arr  "{10.1 11.2 12.3 0.123456}"

## Owner.uint_arr   "{1000 2000 3000 4000 5000}"
Owner.uint_arr.init_size 12
Owner.uint_arr.0 1000
Owner.uint_arr.1 2000
Owner.uint_arr.2 3000
Owner.uint_arr.3 4000
Owner.uint_arr.4 5000
Owner.uint_arr.5 6000
Owner.uint_arr.6 7000
Owner.uint_arr.7 8000
Owner.uint_arr.8 9000
Owner.uint_arr.9 10000
Owner.uint_arr.10 11000
Owner.uint_arr.11 12000
Owner.uint_arr.20 21000

## init size
Owner.int_arr.init_size 10
Owner.string_arr.init_size 10