# Ignore some files for archive creation
.*                                                                                          export-ignore
CODING_STYLE.txt                                                                            export-ignore
doc/0909_analysis_reject_param_access.doc                                                   export-ignore
doc/100224[[:space:]]CCI[[:space:]]API[[:space:]]proposal[[:space:]]1.3.ppt                 export-ignore
doc/101110[[:space:]]CCI[[:space:]]Flow.ppt                                                 export-ignore
doc/broker_accessor_concept.odg                                                             export-ignore
doc/broker_accessor_concept.pdf                                                             export-ignore
doc/cci_doxygen_gs_impl_ref.conf                                                            export-ignore
doc/cci_param_concept.jpg                                                                   export-ignore
doc/changelog.txt                                                                           export-ignore
doc/discussions.txt                                                                         export-ignore
doc/GreenControl_GreenConfig_CODES09_Schroeder_p81.pdf                                      export-ignore
doc/guidelines.txt                                                                          export-ignore
doc/notes.txt                                                                               export-ignore
examples/review_checklist                                                                   export-ignore
msvc10/cci/CCI[[:space:]]Instructions[[:space:]]for[[:space:]]MSVS2015[[:space:]].pdf       export-ignore
old_docs                                                                                    export-ignore
scripts/old_doc                                                                             export-ignore
