## Config file for the extended array test example

Owner.myTopArr.my2ndArray0.myIntPar0 20
Owner.myTopArr.my2ndArray0.myIntPar1 30
Owner.myTopArr.my2ndArray0.myStringPar "_I_N_I_T_"


## default size
Owner.myTopArr.my2ndArray0.myUIntArrPar.init_size 10